.h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}



.login__content {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
  }
  
  .login-form__heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
  }
  
  .form__group {
    margin-bottom: 5px;
  }
  
  .form__group-title {
    text-align: left;
  }
  
  .form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
  }
  
  .form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
  
    appearance: none;
  }
  
  .form__button {
    margin-top: 20px;
  }
  
  .form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #1802e0;
    color: #fff;
    cursor: pointer;
  }
  
  .register__link {
    text-align: center;
  }
  
  .register__text--item {
    color: #cdcdcd;
    font-size: 0.7rem;
    
  }

  .register__text {
    margin: 20px 0 0 0;
    text-align: center;
  }